<html lang="en-US">
  <!-- home-100:13-->

  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <div class="page-title">
      <div class="container">
        <div class="padding-tb-120px">
          <h1>Our Price</h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Our Pricing</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="nile-about-section">
      <div class="container">
        <!-- Title -->
        <div class="section-title margin-bottom-40px">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="icon text-main-color">01</div>
              <div class="h2" style="margin-top: 20px">BIỂU GIÁ DỊCH VỤ VẬN CHUYỂN HÀNG HOÁ</div>
              <div class="h5">Kính gửi : Quý khách hàng</div>
              <p>Biểu giá cước vận chuyển YTD được áp dụng từ ngày 01/07/2023</p>
            </div>
          </div>
          <!-- // End Title -->
        </div>
        <div class="h2" style="margin-top: 20px">BIỂU GIÁ KÝ GỬI VẬN CHUYỂN HÀNG LẺ</div>
        <div class="h5 text-main-color">MIỄN PHÍ ĐẶT HÀNG HỘ – ÁP DỤNG CHO CÁC ĐƠN HÀNG VẬN CHUYỂN QUA YTD</div>
        <img
          src="http://ytd.vn/wp-content/uploads/2021/07/B%C3%A1o-gi%C3%A1-h%C3%A0ng-l%E1%BA%BB-YTD-231022.png"
          alt=""
        />
        <div class="margin-top-10px">BIỂU GIÁ VẬN CHUYỂN ĐƯỜNG BAY TUYẾN QUẢNG CHÂU – SÀI GÒN</div>
        <img
          src="http://ytd.vn/wp-content/uploads/2023/06/z4463156779308_9002b9aaba1e40219b986741d854f5c9.jpg"
          alt=""
        />

        <div class="margin-top-10px">BIỂU GIÁ VẬN CHUYỂN ĐƯỜNG BỘ HÀNG THEO LÔ</div>
        <p>Áp dụng cho các lô hàng từ khối lượng từ 100kg và thể tích 1m3 , chưa bao gồm chi phí trả hàng tại điểm</p>
        <img
          src="http://ytd.vn/wp-content/uploads/2023/06/z4474867248095_f1a01fef17265a3057d66fed3d540bfc.jpg"
          alt=""
        />
        <p style="text-align: center"><strong>ℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜℜ</strong></p>
        <p>
          <i><span style="font-weight: 400">Chú thích :</span></i>
        </p>
        <p>
          <span style="font-weight: 400"
            >Hàng nặng : Hàng gạch men, ác quy, sắt đặc như : đinh, ốc vít, linh kiện sắt nặng, (1T không quá 1m3)</span
          >
        </p>
        <p>
          <span style="font-weight: 400"
            >Hàng phổ thông : gia dụng, đèn, nội thất, đồ chơi, đồ điện, văn phòng phẩm, phụ tùng lắp ghép ô tô, xe máy,
            máy móc nhẹ …</span
          >
        </p>
        <p><span style="font-weight: 400">Hàng thời trang : Quần áo, túi xách, giày dép,… ( không nhái )</span></p>
        <p>
          <span style="font-weight: 400"
            >Hàng đặc biệt : &nbsp;Hàng tên thương hiệu, phụ kiện điện tử, mỹ phẩm, thực phẩm, hàng lẻ đóng bao
            sẵn,…</span
          >
        </p>
        <p>
          <span style="font-weight: 400"
            >Hàng gom lẻ : Hàng lẻ kuaidi chưa đóng sẵn bao, hỗ trợ phân đơn trả hàng trong nước theo nhu cầu
            khách.</span
          >
        </p>
        <h2 style="text-align: left"><strong>Cam kết </strong></h2>
        <ul style="text-align: left">
          <li>
            Hàng về Hà Nội từ 3-5 ngày, về Sài Gòn từ 5 – 10 ngày sau khi nhận hàng tại kho Đông Hưng (( Trừ các trường
            hợp bất khả kháng bị chậm hàng do : thiên tai, dịch bệnh, Kiểm hoá nhiều ngày… ))
          </li>
          <li>
            Hàng chậm sau 10 ngày sẽ có thông báo về tình trạng hàng hóa, sau 30 – 45 ngày sẽ có biên bản và cam kết đền
            bù nếu thất lạc hàng.
          </li>
          <li>
            Đền bù 100% khi khách hàng chứng minh được giá trị hàng hóa đã thanh toán mua hàng <strong>và</strong> mua
            bảo hiểm vận chuyển. Hàng giá trị cao nên đóng bảo hiểm thất lạc hàng hoá.
          </li>
          <li>
            Đền bù 6 lần giá trị cước vận chuyển khi khách hàng không chứng minh được giá trị hàng hóa hoặc không mua
            bảo hiểm hàng hoá. Khoản tiền đền bù tối đa 30.000.000đ/ Lô hàng.
          </li>
          <li>Đối với hàng từ VN – TQ hàng sẽ đi từ 3 – 10 ngày sau khi nhận đơn, hàng cần đi gấp liên hệ cụ thể.</li>
        </ul>
        <h2><strong>YÊU CẦU:&nbsp;</strong></h2>
        <ul>
          <li>
            Yêu cầu khách hàng trung thực khi cung cấp thông tin về chủng loại hàng hóa, tránh việc ảnh hưởng đến quá
            trình khai báo và vận chuyển.
          </li>
          <li>
            Trên kiện hàng phải có mã tên người nhận hàng (Liên hệ NV lấy mã ) Tránh thất lạc, chậm tiến trình vận
            chuyển hàng. Trường hợp không có mã tên nhận hàng, mất hàng YTD không chịu trách nhiệm.
          </li>
          <li>
            Hàng oder thanh toán <strong>100%</strong> tiền hàng áp dụng <strong>miễn phí</strong> dịch vụ, thanh toán
            <strong>MIN 50%</strong> tiền hàng áp dụng <strong>phí chi hộ 5%/số tiền chi hộ.</strong>
          </li>
          <li>
            Hàng hoá dễ vỡ, dễ móp méo Khách hàng tự yêu cầu shop TQ đóng gói theo<strong>
              tiêu chuẩn và dán ký hiệu hàng dễ vỡ,</strong
            >&nbsp;trường hợp cần YTD kiểm tra hoặc gia cố hàng hoá khách hàng liên hệ báo trước. Các mặt hàng hoá dễ vỡ
            như: tủ kính, bồn sứ,… nên đóng bảo hiểm hàng dễ vỡ ( 3-5%)
          </li>
          <li>
            Khi hàng về đến kho YTD Trung Quốc, sẽ có bill ký nhận hàng hoá, trường hợp xảy ra vấn đề thất lạc mà khách
            hàng không cung cấp được bill ký nhận của kho YTD hoặc không có các phương án thiết thực để chứng minh hàng
            đến kho thì YTD không chịu trách nhiệm.
          </li>
        </ul>
        <h2><strong>LƯU Ý : </strong></h2>
        <ul>
          <li>
            Xử lý hàng thiếu, hàng hỏng, vỡ – khách hàng khiếu nại ngay tại thời điểm bàn giao hàng, hoặc trong vòng 24
            giờ sau khi nhận hàng và cung cấp đầy đủ thông tin hình ảnh, video chứng minh hàng gặp vấn đề.
          </li>
          <li>
            Hàng hoá vận chuyển không tránh khỏi tình trạng bị móp méo kiện hàng do đóng gói hoặc do quá trình vận
            chuyển hàng hoá xếp chồng lên nhau.
          </li>
          <li>
            Trong quá trình vận chuyển có thời điểm không tránh khỏi tình trạng lô hàng/đơn hàng về chậm do gặp vấn đề :
            kiểm hoá, hỏng xe dọc đường…
          </li>
          <li>
            Trường hợp hàng về chậm, hay mất hàng do <strong>biến động lớn</strong> của thị trường và công tác của các
            cơ quan ban ngành – hai bên cùng trao đổi thoả thuận và giải quyết.
          </li>
          <li>
            Đối với hàng mẫu ( số lượng ít ) cơ quan chức năng sử dụng để thực hiện trong quá trình kiểm hóa, YTD không
            chịu trách nhiệm bồi thường.
          </li>
          <li>
            Biểu giá được tính từ kho YTD Đông Hưng về đến điểm tập kết hàng tại HN hoặc SG. Trường hợp hàng của Khách
            không về đến kho của YTD sẽ phát sinh phí kéo hàng tùy thuộc vào lượng hàng. Ngoài ra đối với những kiện
            hàng đóng pallet to nặng sẽ phát sinh phí xe nâng hạ pallet , … chúng tôi sẽ có thông báo phí phát sinh cụ
            thể trước khi cho hàng về.
          </li>
          <li>
            Mua bảo hiểm hàng hoá theo từng chủng loại hàng hoá, và tiến hành thanh toán bảo hiểm trước khi bốc hàng lên
            xe để di chuyển.
          </li>
        </ul>
        <p style="text-align: center">
          <strong
            >Mọi thắc mắc xin vui lòng liên hệ số điện thoại <span style="color: #ff0000">0789.288.255</span> để được hỗ
            trợ!</strong
          >
        </p>
      </div>
    </div>

    <div class="section padding-tb-100px section-ba-2">
      <div class="container">
        <!-- Title -->
        <div class="section-title margin-bottom-40px">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="icon text-main-color">02</div>
              <div class="h2">Our Pricing</div>
            </div>
          </div>
        </div>
        <!-- // End Title -->

        <div class="row">
          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>199</div>
              <div class="per-mile">PER MILE</div>
              <div class="item-img"><img src="assets/img/blog-grid-1.jpg" alt="" /></div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>213</div>
              <div class="per-mile">PER MILE</div>
              <div class="item-img"><img src="assets/img/blog-grid-2.jpg" alt="" /></div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table active">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>813</div>
              <div class="per-mile">PER MILE</div>
              <div class="item-img"><img src="assets/img/blog-grid-3.jpg" alt="" /></div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>650</div>
              <div class="per-mile">PER MILE</div>
              <div class="item-img"><img src="assets/img/blog-grid-4.jpg" alt="" /></div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->
        </div>
      </div>
    </div>

    <div class="nile-about-section">
      <div class="container">
        <!-- Title -->
        <div class="section-title margin-bottom-40px">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="icon text-main-color">03</div>
              <div class="h2">Our Pricing</div>
            </div>
          </div>
        </div>
        <!-- // End Title -->

        <div class="row">
          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>199</div>
              <div class="per-mile">PER MILE</div>
              <div class="padding-25px">Phasellus vulputate ultrices augue, eget feugiat lectus efficitur in ...</div>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>213</div>
              <div class="per-mile">PER MILE</div>
              <div class="padding-25px">Phasellus vulputate ultrices augue, eget feugiat lectus efficitur in ...</div>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table active">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>813</div>
              <div class="per-mile">PER MILE</div>
              <div class="padding-25px">Phasellus vulputate ultrices augue, eget feugiat lectus efficitur in ...</div>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>650</div>
              <div class="per-mile">PER MILE</div>
              <div class="padding-25px">Phasellus vulputate ultrices augue, eget feugiat lectus efficitur in ...</div>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->
        </div>
      </div>
    </div>

    <%- include('../partials/footer.ejs') %>

    <!-- jquery library  -->

    <%- include('../partials/script.ejs') %>
  </body>

  <!-- home-100:30-->
</html>
