<header>
  <div id="fixed-header-dark" class="header-output fixed-header">
    <div class="header-output">
      <div class="container header-in">
        <!-- Up Head -->
        <div class="up-head d-none d-lg-block">
          <div class="row">
            <div class="col-xl-8 col-lg-12">
              <div class="row">
                <div class="col-md-4">
                  <i class="fa fa-phone margin-right-10px"></i> HN 0789.288.255 – SG 0928.288.255
                </div>
                <div class="col-md-4"><i class="fa fa-envelope-o margin-right-10px"></i> info@ytd.vn</div>
              </div>
            </div>
            <div class="col-xl-4 d-none d-xl-block">
              <div class="row">
                <div class="col-lg-6">
                  <!-- lang dropdown -->
                  <div class="dropdown show">
                    <a
                      class="dropdown-toggle text-white text-uppercase"
                      href="#"
                      role="button"
                      id="dropdownMenuLink"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="flag-icon flag-icon-us margin-right-8px"></span>
                      English
                    </a>

                    <div class="dropdown-menu text-small text-uppercase" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#"
                        ><span class="flag-icon flag-icon-es margin-right-8px"></span> Spanish</a
                      >
                      <a class="dropdown-item" href="#"
                        ><span class="flag-icon flag-icon-mr margin-right-8px"></span> Arabic</a
                      >
                      <a class="dropdown-item" href="#"
                        ><span class="flag-icon flag-icon-fr margin-right-8px"></span> French</a
                      >
                      <a class="dropdown-item" href="#"
                        ><span class="flag-icon flag-icon-de margin-right-8px"></span> German</a
                      >
                    </div>
                  </div>
                  <!-- // lang dropdown -->
                </div>

                <div class="col-lg-6">
                  <!--  Social -->
                  <ul class="social-media list-inline text-right margin-0px text-white">
                    <li class="list-inline-item">
                      <a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="youtube" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="linkedin" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="google" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                  <!-- // Social -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // Up Head -->

        <div class="position-relative">
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <a id="logo" href="/" class="d-inline-block margin-tb-15px"><img src="assets/img/logo-1.png" alt="" /></a>
              <a class="mobile-toggle padding-15px background-second-color border-radius-3" href="#"
                ><i class="fa fa-bars"></i
              ></a>
            </div>
            <div class="col-lg-7 col-md-12 position-inherit">
              <ul
                id="menu-main"
                class="nav-menu float-xl-left text-lg-center link-padding-tb-25px white-link dropdown-dark"
              >
                <li class="">
                  <a href="/">Trang Chủ</a>
                </li>
                <li class="has-dropdown">
                  <a href="#">Giới thiệu</a>
                  <ul class="sub-menu">
                    <li><a href="/gioi-thieu">Về chúng tôi</a></li>
                    <li><a href="/faqs">câu hỏi thường gặp</a></li>
                    <li><a href="/our-team">Đội ngũ</a></li>
                    <li><a href="/price-table">Bảng giá</a></li>
                    <li><a href="/contact">Thông tin liên lạc</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/service">Dịch vụ</a>
                </li>
                <li>
                  <a href="/blog">Bài Viết</a>
                </li>
              </ul>

              <div class="d-none d-xl-block pull-right model-link margin-top-15px">
                <a id="cart-link" class="model-link margin-right-25px text-white opacity-hover-8" href="#">
                  <span>3</span><i class="fa fa-shopping-cart"></i>
                </a>
                <div class="cart-model">
                  <div class="media">
                    <a href="#">
                      <img
                        class="d-flex align-self-start mr-3 width-50px"
                        src="assets/img/cart-1.jpg"
                        alt="Generic placeholder image"
                      />
                    </a>
                    <div class="media-body">
                      <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                      <h5 class="mt-0"><a href="#">Cargo Transportation</a></h5>
                      <h6 class="mt-0 font-2">1 X 250$</h6>
                    </div>
                  </div>

                  <div class="media">
                    <a href="#">
                      <img
                        class="d-flex align-self-start mr-3 width-50px"
                        src="assets/img/cart-2.jpg"
                        alt="Generic placeholder image"
                      />
                    </a>
                    <div class="media-body">
                      <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                      <h5 class="mt-0"><a href="#">Air Freight</a></h5>
                      <h6 class="mt-0 font-2">1 X 250$</h6>
                    </div>
                  </div>

                  <div class="media">
                    <a href="#">
                      <img
                        class="d-flex align-self-start mr-3 width-50px"
                        src="assets/img/cart-3.jpg"
                        alt="Generic placeholder image"
                      />
                    </a>
                    <div class="media-body">
                      <a href="#" class="close"><i class="fa fa-window-close"></i></a>
                      <h5 class="mt-0"><a href="#">Packaging & Storage</a></h5>
                      <h6 class="mt-0 font-2">1 X 250$</h6>
                    </div>
                  </div>

                  <div class="padding-0px">
                    <div class="cart-total background-main-color padding-lr-30px padding-tb-10px text-white">
                      <div class="desc">Subtotal:</div>
                      <div class="price"><strong>$71.00</strong></div>
                      <div class="clearfix"></div>
                    </div>
                    <a href="#" class="btn btn-primary btn-lg btn-block">view cart</a>
                    <a href="#" class="btn btn-outline-primary btn-lg btn-block">Checkout</a>
                  </div>
                </div>
              </div>
              <div class="d-none d-xl-block search-link pull-right model-link margin-top-15px">
                <a id="search-header" class="model-link margin-right-0px text-white opacity-hover-8" href="#search">
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 d-none d-lg-block">
              <a
                data-toggle="modal"
                data-target=".bd-example-modal-lg"
                href="#"
                class="btn btn-sm border-radius-30 margin-tb-20px text-white background-main-color box-shadow float-right padding-lr-20px margin-left-30px d-block"
              >
                <i class="fa fa-envelope-o margin-right-10px"></i>
                Get A Quote
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="search">
  <button type="button" class="close">×</button>
  <form class="clearfix d-block">
    <input type="search" value="" placeholder="Search for . . . ." />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<div class="modal contact-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content margin-top-150px background-main-color">
      <div class="row no-gutters">
        <div class="col-lg-5">
          <img src="assets/img/contact-img.jpg" alt="" />
        </div>
        <div class="col-lg-7">
          <div class="padding-30px">
            <h3 class="padding-bottom-15px">Get A Free Quote</h3>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Full Name</label>
                  <input type="text" class="form-control" id="inputName4" placeholder="Name" />
                </div>
                <div class="form-group col-md-6">
                  <label>Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
                </div>
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" />
              </div>
              <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <a
                href="#"
                class="btn-sm btn-lg btn-block background-dark text-white text-center text-uppercase rounded-0 padding-15px"
                >SEND MESSAGE</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
