<html lang="en-US">
  <!-- home-100:13-->

  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

    <!-- // Header  -->

    <!-- Search  -->
    <div id="search">
      <button type="button" class="close">×</button>
      <form class="clearfix d-block">
        <input type="search" value="" placeholder="Search for . . . ." />
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    <!-- // Search  -->

    <!-- Get A Quote  -->
    <div class="modal contact-modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content margin-top-150px background-main-color">
          <div class="row no-gutters">
            <div class="col-lg-5">
              <img src="assets/img/contact-img.jpg" alt="" />
            </div>
            <div class="col-lg-7">
              <div class="padding-30px">
                <h3 class="padding-bottom-15px">Get A Free Quote</h3>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Full Name</label>
                      <input type="text" class="form-control" id="inputName4" placeholder="Name" />
                    </div>
                    <div class="form-group col-md-6">
                      <label>Email</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" />
                  </div>
                  <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <a
                    href="#"
                    class="btn-sm btn-lg btn-block background-dark text-white text-center text-uppercase rounded-0 padding-15px"
                    >SEND MESSAGE</a
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // Get A Quote  -->

    <div
      id="rev_slider_3_1_wrapper"
      class="rev_slider_wrapper fullwidthbanner-container"
      data-alias="nile-logistics-1"
      data-source="gallery"
      style="margin: 0px auto; background: transparent; padding: 0px; margin-top: 0px; margin-bottom: 0px"
    >
      <!-- START REVOLUTION SLIDER 5.4.8 fullwidth mode -->
      <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display: none" data-version="5.4.8">
        <ul>
          <!-- SLIDE  -->
          <li
            data-index="rs-3"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="300"
            data-rotate="0"
            data-saveperformance="off"
            data-title="Slide"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description=""
          >
            <!-- MAIN IMAGE -->
            <img
              src="assets/rslider/assets/5ec5e-slider-1.jpg"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              class="rev-slidebg"
              data-no-retina
            />
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div
              class="tp-caption tp-resizeme"
              id="slide-3-layer-1"
              data-x="['left','left','left','center']"
              data-hoffset="['0','41','45','0']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['-111','-143','-186','-36']"
              data-width="461"
              data-height="173"
              data-whitespace="nowrap"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"delay":10,"speed":1140,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
              data-textAlign="['inherit','inherit','inherit','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 5;
                min-width: 461px;
                max-width: 461px;
                max-width: 173px;
                max-width: 173px;
                white-space: nowrap;
                font-size: 50px;
                line-height: 59px;
                font-weight: 400;
                color: #ffffff;
                letter-spacing: -4px;
                font-family: Poppins;
              "
            >
              Making<br />
              Transportation
              <br />
              Fast & Savw
            </div>

            <!-- LAYER NR. 2 -->
            <div
              class="tp-caption rev-btn"
              id="slide-3-layer-2"
              data-x="['left','left','left','center']"
              data-hoffset="['0','41','45','0']"
              data-y="['top','top','top','top']"
              data-voffset="['453','372','435','471']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"delay":640,"speed":1120,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:transparent;bc:rgb(255,255,255);"}]'
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[35,35,35,35]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[35,35,35,35]"
              style="
                z-index: 6;
                white-space: nowrap;
                font-size: 14px;
                line-height: 17px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                letter-spacing: 0px;
                font-family: Poppins;
                background-color: rgb(229, 57, 53);
                border-color: rgb(229, 57, 53);
                border-style: solid;
                border-width: 2px 2px 2px 2px;
                border-radius: 30px 30px 30px 30px;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
              "
            >
              Contact Us
            </div>
          </li>
          <!-- SLIDE  -->
          <li
            data-index="rs-4"
            data-transition="fade"
            data-slotamount="default"
            data-hideafterloop="0"
            data-hideslideonmobile="off"
            data-easein="default"
            data-easeout="default"
            data-masterspeed="300"
            data-rotate="0"
            data-saveperformance="off"
            data-title="Slide"
            data-param1=""
            data-param2=""
            data-param3=""
            data-param4=""
            data-param5=""
            data-param6=""
            data-param7=""
            data-param8=""
            data-param9=""
            data-param10=""
            data-description=""
          >
            <!-- MAIN IMAGE -->
            <img
              src="assets/rslider/assets/c92f5-slider-2.jpg"
              alt=""
              data-bgposition="center center"
              data-bgfit="cover"
              data-bgrepeat="no-repeat"
              class="rev-slidebg"
              data-no-retina
            />
            <!-- LAYERS -->

            <!-- LAYER NR. 3 -->
            <div
              class="tp-caption tp-resizeme"
              id="slide-4-layer-1"
              data-x="['left','left','left','center']"
              data-hoffset="['0','41','45','0']"
              data-y="['middle','middle','middle','middle']"
              data-voffset="['-111','-143','-186','-36']"
              data-width="461"
              data-height="173"
              data-whitespace="nowrap"
              data-type="text"
              data-responsive_offset="on"
              data-frames='[{"delay":10,"speed":1140,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
              data-textAlign="['inherit','inherit','inherit','center']"
              data-paddingtop="[0,0,0,0]"
              data-paddingright="[0,0,0,0]"
              data-paddingbottom="[0,0,0,0]"
              data-paddingleft="[0,0,0,0]"
              style="
                z-index: 5;
                min-width: 461px;
                max-width: 461px;
                max-width: 173px;
                max-width: 173px;
                white-space: nowrap;
                font-size: 50px;
                line-height: 59px;
                font-weight: 400;
                color: #ffffff;
                letter-spacing: -4px;
                font-family: Poppins;
              "
            >
              Making<br />
              Transportation
              <br />
              Fast & Savw
            </div>

            <!-- LAYER NR. 4 -->
            <div
              class="tp-caption rev-btn"
              id="slide-4-layer-2"
              data-x="['left','left','left','center']"
              data-hoffset="['0','41','45','0']"
              data-y="['top','top','top','top']"
              data-voffset="['453','372','435','471']"
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button"
              data-responsive_offset="on"
              data-responsive="off"
              data-frames='[{"delay":640,"speed":1120,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:transparent;bc:rgb(255,255,255);"}]'
              data-textAlign="['inherit','inherit','inherit','inherit']"
              data-paddingtop="[12,12,12,12]"
              data-paddingright="[35,35,35,35]"
              data-paddingbottom="[12,12,12,12]"
              data-paddingleft="[35,35,35,35]"
              style="
                z-index: 6;
                white-space: nowrap;
                font-size: 14px;
                line-height: 17px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                letter-spacing: 0px;
                font-family: Poppins;
                background-color: rgb(229, 57, 53);
                border-color: rgb(229, 57, 53);
                border-style: solid;
                border-width: 2px 2px 2px 2px;
                border-radius: 30px 30px 30px 30px;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                cursor: pointer;
              "
            >
              Contact Us
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important"></div>
      </div>
    </div>
    <!-- END REVOLUTION SLIDER -->

    <div class="service-section-1 container">
      <div class="row">
        <div class="col-md-4">
          <div class="service layout-1">
            <div class="clearfix">
              <div class="icon"><img src="assets/icons/service-light-1.png" alt="" /></div>
              <a href="#" class="title">Road Freight</a>
            </div>
            <div class="dis clearfix">Chances are unless you are very lucky you will.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service layout-1">
            <div class="clearfix">
              <div class="icon"><img src="assets/icons/service-light-2.png" alt="" /></div>
              <a href="#" class="title">Air Freight</a>
            </div>
            <div class="dis clearfix">Chances are unless you are very lucky you will.</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service layout-1">
            <div class="clearfix">
              <div class="icon"><img src="assets/icons/service-light-3.png" alt="" /></div>
              <a href="#" class="title">Ocean Freight</a>
            </div>
            <div class="dis clearfix">Chances are unless you are very lucky you will.</div>
          </div>
        </div>
      </div>
    </div>

    <!--============= About Us =============-->
    <div class="nile-about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title-right text-main-color clearfix">
              <div class="icon"><img src="assets/icons/title-icon-1.png" alt="" /></div>
              <h2 class="title-text">Who We Are ?</h2>
            </div>
            <div class="about-text margin-tb-25px">
              YTD Logistics chuyên cung cấp các dịch vụ như Order Taobao, 1688, Tmall, Alibaba, đăt hàng qua Wechat, săn
              sales Zara, Hm, Bershka, Lining và vận chuyển hàng từ Trung Quốc về Việt Nam với tốc độ nhanh, giá hợp lý,
              uy tín và đảm bảo. Cam kết đền bù 100% giá trị đơn hàng nếu trong quá trình vận chuyển không may hàng hóa
              có xảy ra hỏng hóc hay thất lạc. Chúng tôi luôn luôn hướng tới là doanh nghiệp vận chuyển uy tín nhất,
              chất lượng dịch vụ tốt nhất, mang lại giá trị cao nhất thiết thực tới các khách hàng.
            </div>
            <a href="#" class="nile-bottom sm">Read More</a>

            <div id="accordion" class="nile-accordion margin-top-80px sm-mb-45px">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link active"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <i class="fa fa-info-circle"></i> ORDER HÀNG ?
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Dịch vụ order hàng tận gốc trên các trang của Trung Quốc như Taobao, 1688, Tmall, Alibaba, Zara, HM…
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <i class="fa fa-truck"></i> KÝ GỬI HÀNG
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Nhận vận chuyển hàng ký gửi với các khách tự thanh toán đơn, các đơn vị không có kho Trung Quốc
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      <i class="fa fa-plane"></i> ĐỔI TIỀN ALIPAY
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Chuyển tiền Alipay nhanh chóng tỷ giá thấp dành cho khách hàng tự mua và thanh toán đơn hàng
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-sm-6">
                <a href="#"><img src="assets/img/cart-2.jpg" alt="" /></a>
              </div>
              <div class="col-sm-6">
                <div class="cart-service background-main-color">
                  <div class="icon"><img src="assets/icons/service-light-2.png" alt="" /></div>
                  <h2>Air Freight</h2>
                  <hr />
                  <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="cart-service background-main-color">
                  <div class="icon"><img src="assets/icons/service-light-3.png" alt="" /></div>
                  <h2>Air Freight</h2>
                  <hr />
                  <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
              </div>
              <div class="col-sm-6">
                <a href="#"><img src="assets/img/cart-1.jpg" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--============= //About Us =============-->

    <div class="call-action ba-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 padding-tb-15px">
            <h2>Unbeatable Trucking and Transport Services</h2>
            <div class="text">
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua
            </div>
          </div>
          <div class="col-lg-5">
            <div class="row">
              <div class="col-lg-4 col-md-4 sm-mb-45px">
                <a href="#" class="action-bottom layout-1">
                  <img src="assets/icons/small-icon-1.png" alt="" />
                  <h4>Tell Friend</h4>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 sm-mb-45px">
                <a href="#" class="action-bottom layout-1">
                  <img src="assets/icons/small-icon-2.png" alt="" />
                  <h4>Read More</h4>
                </a>
              </div>
              <div class="col-lg-4 col-md-4">
                <a href="#" class="action-bottom layout-1">
                  <img src="assets/icons/small-icon-3.png" alt="" />
                  <h4>Contact Us</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section padding-tb-100px section-ba-1">
      <div class="container">
        <div class="section-title margin-bottom-40px">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="icon text-main-color"><i class="fa fa-truck"></i></div>
              <div class="h2">CAM KET</div>
              <div class="des">
                Chúng tôi luôn luôn cố gắng không ngừng nghỉ nhằm mang lại cho khách hàng dịch vụ nhập hàng tốt nhất, uy
                tín nhất, mang lại sự hài lòng khi khách hàng sử dụng dịch vụ nhập hàng của chúng tôi.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="service-icon-box">
              <a href="#" class="title h2">» CAM KẾT ĐẶT HÀNG</a>
              <div class="des">
                Đền bù 100% tiền hàng nếu YTD Logistics đặt sai link của quý khách. Cam kết mua hàng trong vòng 24h kể
                từ lúc đơn hàng được đặt cọc.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="service-icon-box">
              <a href="#" class="title h2">» CAM KẾT BỒI THƯỜNG</a>
              <div class="des">
                Chúng tôi cam kết đền bù 100% tiền hàng nếu trong quá trình vận chuyển hàng hóa bị thất lạc hoặc hỏng
                hóc.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="service-icon-box">
              <a href="#" class="title h2">» CAM KẾT ĐÚNG GIÁ</a>
              <div class="des">
                YTD Logistics cam kết mua đúng giá sản phẩm trên website và đúng phí nội địa trên web không gian dối.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="service-icon-box">
              <a href="#" class="title h2">» THỜI GIAN VẬN CHUYỂN</a>
              <div class="des">
                Chúng tôi luôn luôn cố gắng tối ưu từng công đoạn để hàng hóa của quý khách về nhanh nhất, an toàn nhất
                có thể.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="service-icon-box">
              <a href="#" class="title h2">» TỶ GIÁ NHÂN DÂN TỆ </a>
              <div class="des">
                Tỷ giá công khai minh bạch khớp với hệ thống đặt hàng. Luôn luôn ưu tiên để tỷ giá thấp nhất nhằm mang
                lại lợi ích tối đa cho khách hàng.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="service-icon-box">
              <a href="#" class="title h2">» CAM KẾT HỖ TRỢ </a>
              <div class="des">
                YTD Logistics luôn luôn cố gắng phục vụ 24/7 nhằm mang lại dịch vụ tốt nhất tới quý khách hàng.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="service-icon-box">
              <div class="icon"><img src="assets/icons/service-dark-1.png" alt="" /></div>
              <a href="#" class="title h2">Cargo Transportation</a>
              <div class="des">
                Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="service-icon-box">
              <div class="icon"><img src="assets/icons/service-dark-2.png" alt="" /></div>
              <a href="#" class="title h2">Air Freight</a>
              <div class="des">
                Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="service-icon-box">
              <div class="icon"><img src="assets/icons/service-dark-3.png" alt="" /></div>
              <a href="#" class="title h2">Ocean Freight</a>
              <div class="des">
                Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="service-icon-box">
              <div class="icon"><img src="assets/icons/service-dark-4.png" alt="" /></div>
              <a href="#" class="title h2">Packaging & Storage</a>
              <div class="des">
                Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <a href="#" class="nile-bottom md">Show all <i class="fa fa-arrow-right"></i> </a>
        </div>
      </div>
    </div>

    <div class="section padding-tb-100px section-ba-2">
      <div class="container">
        <!-- Title -->
        <div class="section-title margin-bottom-40px">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="icon text-main-color"><i class="fa fa-money"></i></div>
              <div class="h2">Our Pricing</div>
              <div class="des">
                In quis luctus dolor. Sed ac libero arcu. Phasellus vulputate ultrices augue, eget feugiat lectus
                efficitur in. Nulla non pharetra justo. Nunc viverra consectetur bibendum.
              </div>
            </div>
          </div>
        </div>
        <!-- // End Title -->

        <div class="row">
          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>199</div>
              <div class="per-mile">PER MILE</div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>213</div>
              <div class="per-mile">PER MILE</div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table active">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>813</div>
              <div class="per-mile">PER MILE</div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->

          <!-- item -->
          <div class="col-lg-3 col-md-6">
            <div class="price-table">
              <div class="title main-color">BASIC</div>
              <div class="price"><span>$</span>650</div>
              <div class="per-mile">PER MILE</div>
              <ul class="elements">
                <li>4000 kg load</li>
                <li>425 kg / pallet</li>
                <li>Warehousing</li>
                <li>Free Packaging</li>
                <li>24/7 support</li>
              </ul>
              <div class="padding-25px">
                <a href="#" class="nile-bottom sm-block">ORDER NOW</a>
              </div>
            </div>
          </div>
          <!-- // end item -->
        </div>
      </div>
    </div>

    <div class="section padding-tb-100px section-ba-3">
      <div class="container">
        <!-- Title -->
        <div class="section-title margin-bottom-40px">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="icon text-main-color"><i class="fa fa-bookmark-o"></i></div>
              <div class="h2">Last News</div>
              <div class="des">
                In quis luctus dolor. Sed ac libero arcu. Phasellus vulputate ultrices augue, eget feugiat lectus
                efficitur in. Nulla non pharetra justo. Nunc viverra consectetur bibendum.
              </div>
            </div>
          </div>
        </div>
        <!-- // End Title -->

        <div class="row">
          <div class="col-lg-4 col-md-6 sm-mb-35px">
            <div class="blog-item">
              <div class="img">
                <a href="#"><img src="assets/img/blog-grid-1.jpg" alt="" /></a>
                <a href="#" class="date">
                  <span class="day">15</span>
                  <span class="month">April</span>
                </a>
              </div>
              <a href="#" class="title">Long Don’t Spend Time Beating On A Wall, Hoping To Trans ...</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 sm-mb-35px">
            <div class="blog-item">
              <div class="img">
                <a href="#"><img src="assets/img/blog-grid-2.jpg" alt="" /></a>
                <a href="#" class="date">
                  <span class="day">15</span>
                  <span class="month">April</span>
                </a>
              </div>
              <a href="#" class="title">Long Don’t Spend Time Beating On A Wall, Hoping To Trans ...</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 sm-mb-35px">
            <div class="blog-item">
              <div class="img">
                <a href="#"><img src="assets/img/blog-grid-3.jpg" alt="" /></a>
                <a href="#" class="date">
                  <span class="day">15</span>
                  <span class="month">April</span>
                </a>
              </div>
              <a href="#" class="title">Long Don’t Spend Time Beating On A Wall, Hoping To Trans ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <!-- jquery library  -->

    <%- include('partials/script.ejs') %>
  </body>

  <!-- home-100:30-->
</html>
