<html lang="en-US">
  <!-- home-100:13-->

  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <div class="page-title">
      <div class="container">
        <div class="padding-tb-120px">
          <h1>About Us</h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">About Us</li>
          </ol>
        </div>
      </div>
    </div>

    <!--============= About Us =============-->
    <div class="nile-about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 sm-mb-45px">
            <div class="section-title-right text-main-color clearfix">
              <div class="icon"><img src="assets/icons/title-icon-1.png" alt="" /></div>
              <h2 class="title-text">Who We Are ?</h2>
            </div>
            <div class="about-text margin-tb-25px">
              <h4>25 years of experience in Logistics services</h4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris
              <br />
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...
            </div>
            <a href="#" class="nile-bottom sm">Read More</a>
          </div>
          <div class="col-lg-6">
            <img src="assets/img/about-1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!--============= //About Us =============-->

    <div class="call-action ba-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 padding-tb-15px">
            <h2>Unbeatable Trucking and Transport Services</h2>
            <div class="text">
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua
            </div>
          </div>
          <div class="col-lg-5">
            <div class="row">
              <div class="col-lg-4 col-md-4 sm-mb-45px">
                <a href="#" class="action-bottom layout-1">
                  <img src="assets/icons/small-icon-1.png" alt="" />
                  <h4>Tell Friend</h4>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 sm-mb-45px">
                <a href="#" class="action-bottom layout-1">
                  <img src="assets/icons/small-icon-2.png" alt="" />
                  <h4>Read More</h4>
                </a>
              </div>
              <div class="col-lg-4 col-md-4">
                <a href="#" class="action-bottom layout-1">
                  <img src="assets/icons/small-icon-3.png" alt="" />
                  <h4>Contact Us</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nile-about-section">
      <div class="container">
        <!-- Title -->
        <div class="section-title margin-bottom-40px">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="icon text-main-color"><i class="fa fa-truck"></i></div>
              <div class="h2">About</div>
              <div class="h5">
                YTD là công ty Logistics cung cấp đầy đủ các dịch vụ và giải pháp về giao nhận vận tải , đặt hàng và tìm
                kiếm nguồn hàng Trung Quốc.
              </div>
              <div class="h5">
                Với lợi thế về đội ngũ nhân sự chuyên nghiệp trực tiếp xử lý từng quy trình công việc mà không qua trung
                gian. YTD Logistics tin rằng sẽ đem đến cho khách hàng những dịch vụ AN TOÀN – UY TÍN – HIỆU QUẢ.
              </div>
              <div class="margin-top-10px" style="text-align: left">
                <div class="des">
                  Công ty YTD Logistics chú trọng vào nhu cầu và lợi ích của khách hàng khi sử dụng dịch vụ của chúng
                  tôi. Vì vậy để đáp ứng tốt nhất nhu cầu của khách hàng , YTD hiện đang cung cấp các dịch vụ như sau :
                </div>
                <p>_ Vận chuyển hàng 2 chiều Việt Nam – Trung Quốc với thời gian ngắn nhất.</p>
                <p>
                  _ Order hàng trên các kênh thương mại điện tử
                  <span style="font-weight: 700">Alibaba – Taobao – Tmall – 1688.</span>
                </p>
                <p>_ Tìm kiếm nguồn hàng từ nhà sản xuất , đàm phán giá cả.</p>
                <p>_ Thanh toán Alipay.</p>
                <p>Công ty hiện đang vận hành 3 kho hàng tại Đông Hưng – Hà Nội – Sài Gòn.</p>
                <p>Thông tin liên hệ :</p>
                <p>VP Hà Nội : 72 Nguyễn Chí Thanh, Đống Đa.</p>
                <p>Hồ Chí Minh : Bình Hưng Hòa B, Tân Bình.</p>
                <p>Tel/Zalo : HN 0789288255. – SG 0928288255</p>
                <p>Email : info@ytd.vn</p>
              </div>
            </div>
          </div>
        </div>
        <!-- // End Title -->

        <div class="text-center margin-top-35px">
          <a href="#" class="nile-bottom md">Show all <i class="fa fa-arrow-right"></i> </a>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>

    <!-- jquery library  -->

    <%- include('../partials/script.ejs') %>
  </body>

  <!-- home-100:30-->
</html>
