<html lang="en-US">
  <!-- home-100:13-->

  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <div class="page-title">
      <div class="container">
        <div class="padding-tb-120px">
          <h1>FAQS</h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Faqs</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="padding-tb-100px">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div id="accordion" class="nile-accordion sm-mb-45px">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link active"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <i class="fa fa-info-circle"></i> GIAO DỊCH KHI ĐẶT HÀNG ORDER NHƯ THẾ NÀO LÀ ĐÚNG?
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Để đặt hàng order từ Trung Quốc về Việt Nam bạn sẽ chọn sản phẩm và gửi link sản phẩm đó cho YTD
                    Logistics. Sau khi nhận link, đội ngũ CSKH của chúng tôi sẽ kết nối 2 chiều cho quý khách và nhà
                    cung cấp để đàm phán giá và chốt đơn hàng. Khi đã chốt được đơn hàng, bạn có thể làm theo hướng dẫn
                    đặt hàng chi tiết của chúng tôi và chờ sản phẩm về tay chỉ sau vài ngày.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <i class="fa fa-truck"></i> HÀNG ORDER LÀ GÌ?
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Những hàng hóa không được mua trực tiếp tại cửa hàng thường được định nghĩa chung là hàng order.
                    Thông thường loại hàng này được đặt mua qua các website thương mại điện tử hoặc qua các cửa hàng
                    online. Với xu thế hội nhập hiện nay của nền kinh tế Việt Nam nhiều khách hàng có xu hướng chọn mua
                    đồ ngoại chính vì vậy nhu cầu order hàng quốc tế đang ngày càng tăng cao. Tuy nhiên các bước giao
                    dịch đa quốc gia thường phức tạp, nếu bạn không biết các thủ tục giao dịch thì cần tìm sự hỗ trợ từ
                    những dịch vụ đặt mua vận chuyển hàng hóa trung gian để thực hiện các giao dịch chính xác và nhanh
                    nhất.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      <i class="fa fa-plane"></i> ĐẶT HÀNG TỪ CÁC WEBSITE TRUNG QUỐC NHƯ THẾ NÀO?
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Nếu bạn đang có nhu cầu đặt hàng Trung Quốc về Việt Nam trước hết cần truy cập ytd.vn và đăng ký tài
                    khoản thành viên. Khi có tài khoản đăng nhập bạn thực hiện tìm kiếm nguồn hàng, chọn nhà cung cấp,
                    chọn sản phẩm và lên đơn đặt hàng.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="heading4">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapse4"
                      aria-expanded="false"
                      aria-controls="collapse4"
                    >
                      <i class="fa fa-bus"></i>LÀM THẾ NÀO ĐỂ TÌM ĐÚNG SẢN PHẨM CẦN MUA?
                    </button>
                  </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                  <div class="card-body">
                    Hiện nay các sàn thương mại điện tử của Trung Quốc đều chỉ sử dụng tiếng bản địa, nếu muốn tìm đúng
                    nguồn hàng bạn cần sử dụng các công cụ dịch của GG. Tuy nhiên, để hỗ trợ khách hàng tốt nhất, YTD
                    Logistics phát triển chức năng dịch tự động, nếu bạn đặt hàng với chúng tôi, công cụ dịch tự động
                    trên thanh tìm kiếm sẽ giúp bạn nhanh chóng tìm kiếm sản phẩm bằng tiếng Việt.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="false"
                      aria-controls="collapseFive"
                    >
                      <i class="fa fa-plane"></i> LỰA CHỌN HÀNG THẾ NÀO ĐỂ TRÁNH HÀNG GIẢ, HÀNG NHÁI?
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Tại các website TMĐT của Trung Quốc sẽ có những cách xem chi tiết hàng hóa khác nhau. Việc tìm kiếm
                    nâng cao và tra cứu đánh giá sản phẩm là cách tốt nhất để bạn kiểm tra xem nguồn hàng có chất lượng
                    hay không. Xem ngay cách lựa chọn tìm kiếm nâng cao đánh giá nguồn hàng mà chúng tôi tổng hợp được.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseSix"
                      aria-expanded="false"
                      aria-controls="collapseSix"
                    >
                      <i class="fa fa-plane"></i> LỰA CHỌN NHÀ CUNG CẤP NHƯ THẾ NÀO?
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Thông thường mỗi nhà cung cấp trên sàn TMĐT sẽ được nhiều lượt mua hàng và phản hồi về sản phẩm tích
                    cực hơn những shop còn lại. Nếu muốn chọn đúng nhà cung cấp tốt, bạn nên kiểm tra phản hồi của khách
                    hàng và xem những bình luận sản phẩm bằng ảnh thật để đánh giá và lựa chọn. Nhằm giúp bạn có nguồn
                    hàng tốt nhất chúng tôi đã tổng hợp danh sách các nhà cung cấp hàng Trung Quốc uy tín, bạn hãy xem
                    ngay!
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseSix"
                      aria-expanded="false"
                      aria-controls="collapseSix"
                    >
                      <i class="fa fa-plane"></i> BẠN CÓ THỂ ĐẶT MUA GÌ VỚI YTD LOGISTICS?
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Chúng tôi có thể thỏa mãn mọi nhu cầu mua hàng của bạn từ các sản phẩm thời trang, đồ gia dụng, mỹ
                    phẩm, các sản phẩm làm đẹp, thiết bị dân dụng, đồ điện tử,… Bên cạnh đó, chúng tôi tuyệt đối không
                    đặt và vận chuyển các loại hàng hóa thuộc danh sách hàng cấm và những loại mặt hàng dễ cháy nổ, dễ
                    vỡ.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="contact-modal">
              <div class="background-main-color">
                <div class="padding-30px">
                  <h3 class="padding-bottom-15px">Get A Free Quote</h3>
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Full Name</label>
                        <input type="text" class="form-control" id="inputName44" placeholder="Name" />
                      </div>
                      <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" id="inputEmail44" placeholder="Email" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Message</label>
                      <textarea class="form-control" id="exampleFormControlTextarea11" rows="3"></textarea>
                    </div>
                    <a
                      href="#"
                      class="btn-sm btn-lg btn-block background-dark text-white text-center text-uppercase rounded-0 padding-15px"
                      >SEND MESSAGE</a
                    >
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // row -->
      </div>
      <!-- // container -->
    </div>

    <%- include('../partials/footer.ejs') %>

    <!-- jquery library  -->

    <%- include('../partials/script.ejs') %>
  </body>

  <!-- home-100:30-->
</html>
